numpy
scipy
matplotlib
scikit-learn

lqrt  # https://github.com/alyakin314/lqrt/

torch
tensorboard
# tensorflow

# ipython
# ipykernel  # to add venv as a kernel
# ipywidgets
# pyqt5  # to use %matplotlib qt magic
# # IPythonClipboard

tqdm
