numpy
scipy
matplotlib
scikit-learn

torch
tensorboard
pyro-ppl

lqrt  # https://github.com/alyakin314/lqrt/

# ipython
# ipykernel  # to add venv as a kernel
# ipywidgets
# pyqt5  # to use %matplotlib qt magic
# # IPythonClipboard

tqdm
